.profile__button-edit {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/button-edit.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    background-color: black;
    margin: 0 0 0 18px;
}

.profile__button-edit:hover {
    opacity: .6;
}

@media screen and (max-width: 320px) {
    .profile__button-edit {
        margin: 0 0 0 10px;
        width: 18px;
        height: 18px;
        background-image: url(../../../images/button-edit-mobile.svg);
    }
}