.profile__add-photo {
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 2px;
    background-color: #000;
    background-image: url(../../../images/button-add.png);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.profile__add-photo:hover {
    opacity: .5;
}

@media screen and (max-width: 500px) {
    .profile__add-photo {
        width: 282px;
        height: 50px;
        margin: 36px 0 0 0;
        align-self: center;
        background-image: url(../../../images/button-add-mobile.svg);
    }
}
