.popup__container-close {
    background-image: url(../../../images/button-close.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.popup__container-close:hover {
    opacity: .6;
}

@media screen and (max-width: 520px) {
    .popup__container-close {
        background-image: url(../../../images/button-close-mobile.svg);
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
    }
}