.header {
    width: 100%;
    max-width: 880px;
    min-height: 74px;
    margin: 45px auto 0 auto;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgb(255,255,255,.5);
}

@media screen and (max-width: 320px) {
    .header {
        margin: 0;
        min-height: 56px;
    }
}





