.popup__container-save-button {
    max-width: 358px;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    margin: 0 auto 37px 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.popup__container-save-button:hover {
    opacity: .8;
}

@media screen and (max-width: 520px) {
    .popup__container-save-button {
        max-width: 238px;
        height: 46px;
        margin: 0 auto 25px 22px;
    }
}