.profile__add {
    align-self: center;
    align-content: flex-end;
    margin-left: auto;
}

@media screen and (max-width: 630px) {
    .profile__add {
        align-content: flex-start;
        margin: 10px 0 0 10px;
    }
}

@media screen and (max-width: 500px) {
    .profile__add {
        align-content: center;
        margin: 0;
    }
}

